.root {
  display: flex;
  z-index: 3;
  &[data-alignment='center'] {
    align-items: center;
    justify-content: center;
  }

  &[data-alignment='flex-start'] {
    align-items: flex-start;
    justify-content: left;
  }

  &[data-alignment='flex-end'] {
    align-items: flex-end;
    justify-content: right;
  }

  &[data-direction='justify'] {
    justify-content: space-between;
    gap: rem(48);
    align-self: stretch;
  }
}

.inner {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  .buttonGroup {
    margin-top: 0.5rem;
  }

  &[data-alignment='center'] {
    align-items: center;
    text-align: center;
  }
}

.slotAfter {
  display: flex;
}

.width_xs {
  max-width: 480px;
}

.width_sm {
  max-width: 680px;
}

.width_md {
  max-width: 940px;
}

.width_lg {
  max-width: 1120px;
}
