.root {
  overflow: hidden;
  --line-offset: calc(var(--gap) / 2);
  --line-thickness: 2px;
  --line-color: red;
}

div.item {
  position: relative;

  &:not([data-ignore-line='true']) {
    &:before,
    &:after {
      content: '';
      position: absolute;
      background-color: var(--line-color);
      z-index: 1;
    }

    &:before {
      inline-size: var(--line-thickness);
      block-size: 100vh;
      inset-block-start: 0;
      inset-inline-start: calc(var(--line-offset) * -1);
    }

    &:after {
      inline-size: 100vw;
      block-size: var(--line-thickness);
      inset-inline-start: 0;
      inset-block-start: calc(var(--line-offset) * -1);
    }
  }
}
