.root {
  position: relative;
  overflow: hidden;
  margin-bottom: var(--s-mb-base);

  &[data-decorated='true'] {
    padding: var(--mantine-spacing-6) 0;

    @media (min-width: $mantine-breakpoint-sm) {
      padding: var(--mantine-spacing-7) 0;
    }
  }
}

.container {
  display: flex;
  flex-direction: column;
  max-width: var(--mantine-container-size);
  margin: 0 auto;
  padding: 0 var(--mantine-spacing-5);

  div[data-overflow='false'] {
    overflow: hidden;
  }
}
