.styled {
  position: relative;
  display: flex;
  align-self: stretch;
}

/* .decorated {
  padding: var(--c-py-base) var(--c-px-base);
  align-items: var(--align-items, center);
  justify-content: var(--justify-content, flex-start);
  @media (min-width: $mantine-breakpoint-sm) {
    padding: var(--c-py-md) var(--c-px-md);
  }

  @media (min-width: $mantine-breakpoint-lg) {
    padding: var(--c-py-lg) var(--c-px-lg);
  }
}
 */
